<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>path_to_image</param-name>
    <param-value>/images</param-value>
  </context-param>
  <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>com.ksoft.MainPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthenticationPageServlet</servlet-name>
    <servlet-class>com.ksoft.AuthenticationPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <servlet-class>com.ksoft.RegistrationPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPageServlet</servlet-name>
    <servlet-class>com.ksoft.AdminPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageRetrieveServlet</servlet-name>
    <servlet-class>com.ksoft.ImageRetrieveServlet</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationPageServlet</servlet-name>
    <url-pattern>/AuthenticationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <url-pattern>/RegistrationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPageServlet</servlet-name>
    <url-pattern>/AdminPageServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ImageRetrieveServlet</servlet-name>
    <url-pattern>/ImageRetrieveServlet</url-pattern>
  </servlet-mapping>
  
  
 
</web-app>